.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events:none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-p {
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgb(255, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App-left {
  margin-left: 5%;
}
.App-input {
  width: 20%;
}
.App-input-readonly {
  width: 20%;
}
.App-right {
  margin-top: 30px;
  width: 60%;
  height: 60%;
  font-size: calc(10px + 2vmin);
}